<%- include('bootheader') -%>
<%- include('menubar') -%>
<br>
<br>
        <h1>See others' stories</h1>

  <div class="bodyfont">
<table width="100%" border="0">
  <tr height="100">

  <td id="bgforheader" class="centerShareStory"> <h2>See Others' Stories<h2></td>
  </tr>

  <tr id="bgforstories">
    <td>
      <br>
      <ol>
    <% for(i = 0; i<comments.length; i++){  %>
        <li>
             <%= comments[i].comment%>
             <br><br>
             <%= comments[i].date %>
             <br>
             <br>
          <% } %>
        </li>
    </ol>
    </td>
  </table>
  </div>
<%- include('bootfooter') -%>
