<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>See others' stories</h1>
    </div>
    <ol>
    <% for(i = 0; i<comments.length; i++){  %>
        <li> <a href="/seeStories/<%= comments[i]._id %>">
              <%= comments[i].date %></a>
              <i>
             <%= comments[i].comment %></\/i> </li>
    <% } %>
    </ol>
<%- include('bootfooter') -%>
